In [2]:
#벅스 사이트 접속하기
from selenium import webdriver
from bs4 import BeautifulSoup

driver = webdriver.Chrome('C:\Myexam\chromedriver/chromedriver.exe')
url='http://music.bugs.co.kr/chart'
driver.get(url)

html=driver.page_source
soup=BeautifulSoup(html,'html.parser')

C:\Users\82105\AppData\Local\Temp\ipykernel_4448\2036909505.py:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('C:\Myexam\chromedriver/chromedriver.exe')

분석

table.byChart > tbody > tr

순위 div.ranking > strong
곡    p.title > a
아티스트  p.artist > a

In [5]:
#반복문을 이용해 곡과 가수명을 song_data에 저장하기
#[0]은 song 태그 중 첫번째 태그 출력하기 위해..
song_data=[]
songs=soup.select('table.byChart>tbody>tr')
for song in songs:
    rank = song.select('div.ranking>strong')[0].text
    title = song.select('p.title>a')[0].text
    singer = song.select('p.artist>a')[0].text
    song_data.append(['Bugs',rank,title,singer])

In [7]:
#song_data 리스트를 이용해 데이터프레임 만들기
import pandas as pd
columns =['서비스','순위','타이틀','가수']
pd_data=pd.DataFrame(song_data,columns=columns)
pd_data

     서비스   순위                        타이틀               가수
0   Bugs    1                      Ditto         NewJeans
1   Bugs    2                        OMG         NewJeans
2   Bugs    3  VIBE (feat. Jimin of BTS)               태양
3   Bugs    4                   Hype Boy         NewJeans
4   Bugs    5                  Attention         NewJeans
..   ...  ...                        ...              ...
95  Bugs   96                   사랑해도 될까요              양다일
96  Bugs   97            떠나보낼 준비해 둘걸 그랬어              임한별
97  Bugs   98             Beautiful Liar  몬스타엑스(Monsta X)
98  Bugs   99                       MORE           j-hope
99  Bugs  100        Devil by the Window        투모로우바이투게더

[100 rows x 4 columns]

In [9]:
#크롤링 결과를 엑셀 파일로 저장하기
pd_data.to_excel('C:/Myexam/bugs.xlsx',index=False)