!pip install PyMySQL -- PYMYSQL 설치

https://pypi.org/project/PyMySQL/

https://pymysql.readthedocs.io/en/latest/

In [3]:
# PYMYSQL 설치
!pip install PyMySQL

Requirement already satisfied: PyMySQL in c:\users\82105\appdata\roaming\python\python39\site-packages (1.0.2)

In [33]:
import pymysql
#임포트 -> connect로 연결 -> 커넥션이 가지고 있는 'cursor'객체 생성 
#-> sql 쿼리 작성 실행 execute()cursor.e ->commit()-> fetchall(), fetchone(), fetchmany(n(몇개가져올건지)->close
# Connect to the database

In [34]:

con = pymysql.connect(host='localhost',
                             user='root',
                             password='****',
                             database='my_emp',
                             charset='utf8') #한글처리하려고
                             #cursorclass=pymysql.cursors.DictCursor);
    #mysql -h localhost -u root -p 비번

In [4]:
print(con)

<pymysql.connections.Connection object at 0x0000014D212BA3D0>

In [1]:
print(dir(con))

In [35]:
print(help(con.connect)) # 마지막 None 출력은 return 값이 없는데 print해서 None 이 출력됨

Help on method connect in module pymysql.connections:

connect(sock=None) method of pymysql.connections.Connection instance

None

https://pymysql.readthedocs.io/en/latest/modules/connections.html

https://docs.python.org/3/library/sqlite3.html?highlight=sqlite#module-sqlite3

In [36]:
#'cursor'객체 생성
cur=con.cursor()

In [37]:
#쿼리 작성 실행 cursor.execute()
sql = 'select ename, empno from emp' # ; 안함
cur.execute(sql) -- 행 갯수출력

14

In [ ]:
#fetchall()--실행결과는 cur가 가지고 있음
row_res=cur.fetchall() # fetchall() : 모든 항목 출력, fetchmany(n) : n개의 항목 출력, fetchone():하나의 항목 출력
print(row_res)
con.close()

(('SMITH', 7369), ('ALLEN', 7499), ('WARD', 7521), ('JONES', 7566), ('MARTIN', 7654), ('BLAKE', 7698), ('CLARK', 7782), ('SCOTT', 7788), ('KING', 7839), ('TURNER', 7844), ('ADAMS', 7876), ('JAMES', 7900), ('FORD', 7902), ('MILLER', 7934))

In [ ]:
import pandas as pd

In [ ]:
my_res= pd.DataFrame(row_res)
print(my_res)


#상위에서 ename과 empno를 출력할 것이라고 선언함
#sql = 'select ename, empno from emp'
#cur.execute(sql) -- 행 갯수출력

         0     1
0    SMITH  7369
1    ALLEN  7499
2     WARD  7521
3    JONES  7566
4   MARTIN  7654
5    BLAKE  7698
6    CLARK  7782
7    SCOTT  7788
8     KING  7839
9   TURNER  7844
10   ADAMS  7876
11   JAMES  7900
12    FORD  7902
13  MILLER  7934

In [ ]:
#2. 쿼리작성 my_emp에다가 데이터를 입력해보자. 1. 홍길동, 800, 오늘날짜 입력해보자.
#임포트 -> connect로 연결 -> 커넥션이 가지고 있는 'cursor'객체 생성 
#-> sql 쿼리 작성 실행 cursor.execute() ->commit()-> fetchall(), fetchone(), fetchmany(n(몇개가져올건지)->close
# Connect to the database

#1) 내 MYSQL에 연결
con = pymysql.connect(host='localhost',
                             user='root',
                             password='****',
                             database='my_emp',
                             charset='utf8')

#2)cursor는 행단위로 값을 받아오는 것.
#값 받아 올 커서 객체 생성
cur=con.cursor() 

#3) sql 쿼리 작성 실행
sql = 'insert into my_emp(empno, ename, sal, hiredate) values(%s,%s,%s, now())' # ; 안함
cur.execute(sql,('1','홍길동',800))
cur.execute(sql,('2','홍길동',700))

#4)저장
con.commit();

#5)저장된 값 가져오기
with con.cursor() as cursor: # with as 는 따로 파일 close 안해줘도 됨
    sql = "SELECT empno, ename, sal, hiredate From my_emp WHERE empno=%s" # 문자열로 입력받겠다.
    cur.execute(sql,('1'))
    result=cur.fetchall()
    print(result)

con.close()

((1, '홍길동', Decimal('800.00'), datetime.date(2023, 1, 6)), (1, '홍길동', Decimal('800.00'), datetime.date(2023, 1, 6)), (1, '홍길동', Decimal('800.00'), datetime.date(2023, 1, 6)), (1, '홍길동', Decimal('800.00'), datetime.date(2023, 1, 6)), (1, '홍길동', Decimal('800.00'), datetime.date(2023, 1, 6)))

### PANDAS를 이용한 CSV 파일 생성 방법

In [ ]:


import pandas as pd
import pymysql.cursors

class MyClass:
    
    def __init__(self):
        self.mcon=pymysql.connect(host='localhost',
                                 user='root',
                                 password='****',
                                 database='my_emp',
                                 charset='utf8',
                                 autocommit=False)
        
        
        
    def myexport_csv(self):
        exam_sql = "select * from my_emp where empno =1"
        dir_path = "C:\ds_work\data"
        df=pd.read_sql(sql=exam_sql, con=self.mcon)
        df.to_csv(f'{dir_path}\local_data.csv') #to_csv : csv로 만들어라
        return "성공"
    
    def __del_(self):
        self.mcon.close()

In [ ]:
MyClass().myexport_csv()
# 엑셀 열어놓고 하면 안됨

C:\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

'성공'

##### 해당 수업으로 PANDAS를 이용하여 DB에 접근하는 방법과 CSV 파일 생성 방법을 알아보았다.