In [34]:
# 멜론 사이트 접속하기

from selenium import webdriver
from bs4 import BeautifulSoup

driver = webdriver.Chrome('C:/Myexam/chromedriver/chromedriver.exe')
url = 'http://www.melon.com/chart/index.htm'

# 사이트 출력됨을 확인
driver.get(url)

#html 소스를 저장
html = driver.page_source

#html 파싱
soup = BeautifulSoup(html, 'html.parser')

C:\Users\82105\AppData\Local\Temp\ipykernel_7088\165062714.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('C:/Myexam/chromedriver/chromedriver.exe')

In [35]:
#반복문을 이용해 곡과 가수명을 song_data에 저장하기 
song_data=[]


songs=soup.select('table>tbody>tr')
#print(songs)

for song in songs:
    rank = song.select('span.rank')[0].text
    title = song.select('div.rank01>span>a')[0].text
    singer=song.select('div.rank02>a')[0].text
    song_data.append(['Melon',rank, title, singer])

In [36]:
#song_data 리스트를 이용해 데이터프레임 만들기
import pandas as pd
columns = ['서비스','순위','타이틀','가수']
pd_data=pd.DataFrame(song_data,columns=columns)
pd_data

      서비스   순위                                 타이틀                 가수
0   Melon    1                               Ditto           NewJeans
1   Melon    2                                 OMG           NewJeans
2   Melon    3                     Sugar Rush Ride          투모로우바이투게더
3   Melon    4                            Hype boy           NewJeans
4   Melon    5                 Devil by the Window          투모로우바이투게더
..    ...  ...                                 ...                ...
95  Melon   96                        주저하는 연인들을 위해                잔나비
96  Melon   97                      새벽에 걸려온 너의 전화는                한동근
97  Melon   98                                  친구                김호중
98  Melon   99                             약속 [約束]                김호중
99  Melon  100  위하여 (We Higher) (Prod. GroovyRoom)  그루비룸 (GroovyRoom)

[100 rows x 4 columns]

In [33]:
# 크롤링 결과를 엑셀파일로 저장하기
pd_data.to_excel('C:\Myexam/melon.xlsx',index=False)